# Supabase
NEXT_PUBLIC_SUPABASE_URL=
NEXT_PUBLIC_SUPABASE_ANON_KEY=
SUPABASE_SERVICE_ROLE_KEY=

# Resend (email)
RESEND_API_KEY=

# App URL (change in production)
NEXT_PUBLIC_APP_URL=https://tourism-eight-bice.vercel.app

# hCaptcha (optional)
NEXT_PUBLIC_HCAPTCHA_SITE_KEY=
HCAPTCA_SECRET=

# Flutterwave (stub)
NEXT_PUBLIC_FLW_PUBLIC_KEY=
FLW_SECRET_KEY=
FLW_ENCRYPTION_KEY=
